.Dictionary section {
  background-color: #F6AD7B;
  border-radius: 4px;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  border: 2px solid white;
  box-shadow: 1px 2px 2px 2px rgb(8 53 83 / 5%);;
  font-size: 18px;
}

.WordSearch{
  width: 74%;
  border-radius: 2px;
  padding: 5px 0px 5px 5px;
  margin: 0px 10px 12px 70px;
  background-color: #F6AD7B;
  border: 0.5px solid white;
  font-size: 20px;
  border-radius: 2px;
}

.subheader {
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin: 12px 12px 12px 12px;
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
}

.searchButton {
  background-color: white;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
}


