.Phonetic a{
	border: 1px solid white;
	color: #212519;
	text-decoration: none;
	padding: 2px 4px 2px 4px;
	margin: 0px 10px 0px 0px;
	border-radius: 10px;
	transition: all 170ms ease-in-out;
}

.Phonetic a:hover {
	background-color: #B84A0A;
	color: white;
}

.phonetic-text {
	font-size: 22px;
}